#content {
  max-width: 750px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#add-option,
.option legend,
.param,
.values,
.pair {
  display: flex;
  gap: 0.5rem;
}

.values {
  flex-wrap: wrap;
}

.param {
  align-items: flex-start;
}
